@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    box-sizing: border-box;
    font: normal 17.5px Poppins, sans-serif;
    margin:0;
    padding:0;
    border:none;
    outline:none;
    scroll-behavior: smooth;
    text-decoration:none;
}
:root{
    --bg-color:#1f242d;
    --second-bg-color:#323946;
    --text-color:#fff;
    --second-text-color:rgb(241, 105, 9);
    --third-text-color:#BB6829;
    --main-color:#0ef;
}
body{
    background: var(--bg-color);
    color:var(--text-color);
}
section{
    min-height:100vh;
    width:100%;
    padding:0;
    margin:0;
    overflow: hidden;
}
.section-about{
    font:normal 2rem Arial, sans-serif;
    text-transform:capitalize;
}
.section-heading{
    text-transform: capitalize;
    font:bold 2.5rem Arial, sans-serif;
    line-height:3rem;
    color:var(--main-color)
}
span{
    color:var(--second-text-color);
    font:bold 2rem Arial, sans-serif;
}
.about-me{
    font:normal 17.5px Arial, sans-serif;
    line-height:25px;
    letter-spacing:.1px;
    word-spacing: normal;
    margin:20px 0px;
    text-align: justify;
}
.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:1.8rem 5%;
    background: var(--second-bg-color);
    display:flex;
    justify-content: space-between;
    align-items:center;
    z-index:100;
}
.header.sticky{
    border-bottom: .1rem solid rgba(0, 0, 0, 0.2);
}
.logo{
    font-size:1.6rem;
    color: var(--third-text-color);
    font-weight: bold;
    cursor:pointer;
    text-transform: capitalize;
}
.logo a:hover{
    cursor: pointer;
}
.navbar a{
    font-size:500 1rem Arial, sans-serif;
    color:var(--text-color);
    margin: 0px 0.6rem 0px 0.6rem;
    transition:0.5s;
    text-transform:capitalize;
}
.navbar a:hover,
.navbar a.active{
    color:var(--second-text-color);
}
.navbar i{
    font-size:1.3rem;
    margin-right:0.2rem;
}
#menu-icon{
    display:none;
}
#menu-icon i{
    font-size:2rem;
    color:white;
}
.home{
    display:flex;
    justify-content: center;
    align-items:center;
}
.home-content{
    padding:30px 60px;
}
.social-media{
    margin: 20px 0px;
}
.social-media i{
    color:var(--text-color);
    font-size:1.5rem;
    padding:6px;
    border:1px solid var(--main-color);
    border-radius: 50%;
}
.social-media i:hover{
    box-shadow:1px 1px  5px var(--main-color);
}
.home-img{
    padding:10%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.home-img img{
    width:30vw;
    height:30vw;
    border-radius:50%;
}
.btn{
    min-width: fit-content;
    height:48px;
    color:var(--text-color);
    background-color:  var(--second-text-color);
    outline:none;
    padding:.7rem .8rem;
    border-radius:15px;
    letter-spacing: .1rem;
    text-transform:capitalize;
}
.btn:hover{
    cursor:pointer;
    box-shadow: 1px 1px 5px var(--third-text-color);
    color:var(--text-color);
}
.about{
    display:flex;
    justify-content: center;
    padding:30px  6rem;
    align-items:center;
    gap:2rem;
    background: var(--second-bg-color);
}
.about-img img{
    width:25vw;
    border-radius:50%;
}.heading{
    text-align:center;
    font:bold 2rem Arial, sans-serif;
    text-transform:capitalize;
}
.about-content h2{
    text-align:left;
    line-height:1.2;
}
.section-header{
    font:normal 1.3rem arial, sans-serif;
    text-transform: capitalize;
    color:var(--main-color);
    margin-bottom:1rem;
}
.services{
padding-top:8%;
}
.services-container{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    padding:30px 40px;
    align-items:center;
    gap:2rem;
}
.service-box {
    flex: 1 1 18rem;
    background: var(--second-bg-color);
    padding: 2rem 2rem;
    border-radius:1rem;
    text-align:center;
    border:.2rem solid --bg-color;
}
.service-box:hover{
    border: 1.8px solid var(--third-text-color);
}
.service-box img, .projects-box img {
    width: 100%;
    border-radius: 1rem;
}
.projects{
    background:var(--second-bg-color);
    padding:4%;
}
.projects h2{
    margin:4rem;
    text-align: center;
    justify-content: center;
}
.projects-container{
    margin-top:20px;
    display:grid;
    grid-template-columns: repeat(3, 1fr) ;
    align-items: center;
    gap:2rem;
}
.projects-container .projects-box{
    position:relative;
    border-radius: 10px;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow:hidden;
    display:flex;
}
.projects img{
    width: 100%;
}
.projects-box:hover img{
    transform:scale(1.1);
    transition: 1s ease;

}
.projects-layer{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), var(--second-text-color));
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    text-align:center;
    padding:0 4rem;
    transform:translateY(100%);
    transition: .7s ease;
}
.projects-layer h4{
    font: bold 1.3rem poppins, sans-serif;
    text-transform:capitalize;
    color:var(--main-color)
}
.projects-layer p{
    font-size:1rem;
    margin: .3rem 0 1rem;
    text-align: justify;
}
.projects-box:hover .projects-layer{
    transform:translateY(0);
}
.contact{
    padding-top:9%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.contact .heading{
    margin-bottom: 10px;
}
.contact form{
    width:70vw;
    padding:10px;
}
.contact .input-box{
    display: inline-block;
    justify-content: space-between;
    margin:1rem .4rem;
    width: 48%;
}
.input-field {
    margin-bottom: 2rem;
}
.input-field .input{
    background: transparent;
    border: 1px solid var(--second-bg-color);
    padding:10px;
    width:100%;
    color:#ededea;
    border-radius: 10px;
}
.textarea-box{
    margin-bottom:2rem;
}
.textarea-box .input{
    background: transparent;
    border:1px solid var(--second-bg-color);
    width:100%;
    resize:none;
    color:#ededea;
    border-radius: 10px;
    padding:.8rem;
}
.contact button{
    display: block;
    margin: 0 auto;
}
.error-txt{
    text-align:left;
    margin: 2px;
    color:rgb(238, 14, 14);
    display: none;
}
.field.error .input{
    border-color:rgb(227, 12, 12);
}
.field.error .error-txt{
    display:block;
}
.textarea .input{
    resize: none;
}
.footer{
    display:flex;
    height: auto;
    justify-content: space-between;
    background: var(--second-bg-color);
    align-items: center;
    flex-wrap:wrap;
    padding:  1rem 7%;
    margin-top:10rem;
}
.footer i{
    font-size:2rem;
    color:#adeded;
}
.footer p{
    font-size:18px;
}
@media( max-width: 1200px){
    html{
        font-size:60%;
    }
}
@media( max-width: 991px){
    .header{
        padding: 2rem 3%;
    }
    section{
        padding:10rem 3% 2rem;
    }
    .footer{
        padding: 2rem 3%;
    }
    .section-header{
        font-size:1.6rem;
    }
    .projects-layer p, h4{
        font-size:18px;
    }
    .contact{
        min-height:auto;
    }
}

@media( max-width: 780px){
    /* html{
        font-size: 20px;
    } */
    #menu-icon{
        display:block;
    }
    .navbar{
        position:absolute;
        top:100%;
        left:0;
        width:100%;
        padding: .1rem 3%;
        background: var(--second-bg-color);
        display:none;
    }
    .navbar.active{
        display:block;
    }
    .navbar a{
        display:block;
        font-size:2rem;
        margin: 3rem 0;
    }
    .home{
        flex-direction:column
    }
    header .logo{
        font-size:2.6rem;
    }
    .section-header{
        font-size:1.6rem;
    }
    .home-img img{
        width:100%;
        border-radius:50%;
    }
    .about{
        flex-direction:column-reverse;
    }
    .about-content img{
        width:50%;
        border-radius: 50%;
    }
    .projects-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .projects-layer p, h4{
        font-size:18px;
    }
    .contact{
        height: auto;
        text-align: center;
    }
    .contact form{
        width: 100vw;
        border: 1px soild red;
    }
    .contact .textarea-box{
        display:block;
        padding:10px;
        width:100%
    }
}
    @media (max-width: 600px) {
        html{
            font-size:16px;
        }
        header .navbar a{
            font-size:18px;
        }
        .projects-container{
            grid-template-columns: 1fr;
        }
        .projects-layer p, h4{
            font-size:18px;
        }
        .contact .input-box{
            display:block;
            width:100%;
        }
        .contact .input-field{
            display: flex;
            width:100%;
            flex-direction: column;
        }
        .contact .text-area{
            display: block;
            width:100;
        }
        .footer {
            flex-direction: row;
            justify-content: center;
        }
    }